export BASE_PATH=/usr/local/astrosoft
source $BASE_PATH/start_tempo2.rc

export PRESTO=$BASE_PATH/presto
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PRESTO/lib
export C_INCLUDE_PATH=$C_INCLUDE_PATH:$PRESTO/include
export PATH=$PATH:$PRESTO/bin
export PYTHONPATH=$PYTHONPATH:$PRESTO/lib/python
#export PYTHONPATH=$PYTHONPATH:$PRESTO/lib64/python/ppgplot
#export PYTHONPATH=$PYTHONPATH:$PRESTO/lib64/python/presto
export PYTHONPATH=$PYTHONPATH:$PRESTO/lib64/python
export PYTHONPATH=$PYTHONPATH:$PRESTO/python/ppgplot_ver/ppgplot-1.4
